@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-image: url('https://images.unsplash.com/photo-1583361704493-d4d4d1b1d70a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

.container {
  border: 2px solid black;
  box-shadow: 8px 8px 0 black;
  background-color: transparent;
  backdrop-filter: blur(5px);
  max-width: 500px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.title-container i {
  font-size: 32px;
}

.search-container {
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.search-container #input-word,
.search-container #btn-search {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border: none;
}

.search-container #btn-search {
  background-color: #333;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: white;
    color: #333;
  }
}

.response-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.response-container h2 {
  text-transform: capitalize;
}
.response-container ul li p:first-child {
  text-transform: capitalize;
}
.response-container ul li p:last-child {
  font-style: italic;
  text-transform: capitalize;
}
